@use '/src/styles/variables.scss';
@use '/src/styles/mixins.scss';

.intro {
  height: 507px;
  background-color: black;
  background-image: url("../img/content/pattern.jpeg");
  background-position-x: 150px;
  border-top: 1px solid variables.$color-default-white-20;
  padding-top: 180px;

  @include mixins.vp-1439 {
    padding-top: 150px;
  }

  @include mixins.vp-1023 {
    height: 400px;
    padding-top: 65px;
  }

  & p {
    font-family: variables.$ff-second;
    font-size: 4rem;
    line-height: auto;
    color: variables.$color-malibu;
    text-align: center;
    margin: 0 0 50px;

    @include mixins.vp-1023 {
      font-size: 3.5rem;
      line-height: 4.2rem;
      margin: 0 0 75px;
    }
  }

  & h2 {
    font-size: 6.2rem;
    line-height: 8rem;
    color: variables.$color-default-white;
    text-align: center;
    margin: 0;
  }
}
