@use '/src/styles/container.scss';
@use '/src/styles/variables.scss';

.contacts {
  padding: 50px 0;
  background-color: variables.$color-midnight-express;
  // background-image: url("../img/content/pattern.jpeg");
  background-position-x: 100px;

}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 2%;
}

.contacts__content {
  padding-left: 70px;

  & h3 {
    font-family: variables.$ff-second;
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 400;
    color: variables.$color-malibu;
    margin: 0 0 30px;
  }

  & h2 {
    font-family: variables.$ff-second;
    font-size: 6.2rem;
    line-height: 7rem;
    text-transform: uppercase;
    color: variables.$color-default-white;
    margin: 0 0 30px;
  }
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  &:first-of-type {
    align-items: flex-start;
  }

  & span {
    font-family: variables.$ff-second;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: variables.$color-malibu;
  }

  & img {
    margin-right: 20px;
  }
}

.contacts__item_links {
  display: flex;
  flex-direction: column;
}

.contacts__social_list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__social_item {
  margin-right: 30px;
}

// .contacts__map {
//   width: 100%;
//   height: 400px;
// }
