@use '/src/styles/variables.scss';
@use '/src/styles/mixins.scss';


.navbar {
  display: flex;
  align-items: center;
  background-color: variables.$color-curious-blue-80;
  margin-bottom: 50px;
}

.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 120px;

  @include mixins.vp-1023 {
    padding-left: 0;
  }
}

.navbar__item {
  background-color: transparent;
  transition: background-color 0.35s ease;
}

.navbar__link {
  font-size: 2rem;
  line-height: 2.4rem;
  color: variables.$color-default-white;
  text-transform: uppercase;
  display: inline-block;
  padding: 38px 50px;

  @include mixins.vp-1023 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 20px 30px;
  }
}

.navbar__item:hover {
  background-color: variables.$color-eastern-blue;
}
